@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#313338;
    color:#fff;
    min-height:100vh;
    overflow:hidden;
}

.app{
    display:flex;
    width:100%;
    height:100vh;
}

.sidebar{
    width:72px;
    background:#1e1f22;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:12px 0;
    gap:12px;
    border-right:1px solid #232428;
}

.server-logo{
    width:50px;
    height:50px;
    border-radius:16px;
    background:linear-gradient(
        135deg,
        #ff00ff,
        #7b2cff
    );
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:800;
}

.nav-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2b2d31;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
    cursor:pointer;
    transition:.2s;
}

.nav-btn:hover{
    background:#5865f2;
    border-radius:16px;
}

.content{
    flex:1;
    padding:20px;
    overflow:auto;
}

.page-title{
    font-size:24px;
    font-weight:800;
    margin-bottom:20px;
}

.input{
    width:100%;
    padding:14px;
    border:none;
    outline:none;
    border-radius:10px;
    background:#1e1f22;
    color:white;
    margin-bottom:10px;
}

.create-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#5865f2;
    color:white;
    font-weight:700;
}

.track{
    background:#232428;
    border:1px solid #2f3136;
    border-radius:14px;
    padding:15px;
    margin-top:12px;
}

.track-title{
    font-size:16px;
    font-weight:700;
    margin-bottom:6px;
}

.track-artist{
    color:#b5bac1;
    margin-bottom:12px;
}

.profile-box{
    margin-top:auto;
    width:100%;
    padding:10px;
    background:#232428;
    border-top:1px solid #2f3136;
}

.avatar{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#5865f2;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    margin:auto;
}

.channels,
.channels-header,
.channel,
.profile-panel,
.user-name,
.user-status{
    display:none;
}

.profile-setup{
    width:100%;
    max-width:420px;
    margin:60px auto;
    padding:20px;
}

.logo{
    text-align:center;
    font-size:52px;
    font-weight:800;
    margin-bottom:25px;
    background:linear-gradient(
        135deg,
        #ff00ff,
        #7b2cff
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.setup-card{
    background:#232428;
    border:1px solid #2f3136;
    border-radius:20px;
    padding:25px;
}

.setup-card h2{
    text-align:center;
    margin-bottom:20px;
}

#message{
    text-align:center;
    margin-top:15px;
    color:#b5bac1;
}