.nav-btn{
    width:56px;
    height:56px;

    border-radius:18px;

    background:#111111;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:16px;

    cursor:pointer;

    color:#b86cff;

    border:1px solid rgba(184,108,255,.3);

    box-shadow:
        0 0 10px rgba(184,108,255,.15);

    transition:.2s;
}

.nav-btn:hover{

    border-color:#b86cff;

    box-shadow:
        0 0 10px rgba(184,108,255,.4),
        0 0 25px rgba(184,108,255,.2);

    transform:translateY(-2px);
}

.nav-btn.active{

    background:#181818;

    border:1px solid #b86cff;

    color:#fff;

    box-shadow:
        0 0 10px #b86cff,
        0 0 30px rgba(184,108,255,.5);
}