@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#050505;
color:#fff;
min-height:100vh;
overflow:hidden;
}

.app{
display:flex;
height:100vh;
}

.sidebar{
width:70px;
background:#090909;
border-right:1px solid #171717;
display:flex;
flex-direction:column;
align-items:center;
padding:12px 0;
gap:12px;
}

.server-logo{
width:56px;
height:56px;
border-radius:18px;
background:linear-gradient(135deg,#ff00ff,#7b2cff);
display:flex;
justify-content:center;
align-items:center;
font-size:28px;
font-weight:800;
box-shadow:0 0 20px rgba(255,0,255,.35);
}

.nav-btn{
width:48px;
height:48px;
border-radius:14px;
background:#111;
display:flex;
justify-content:center;
align-items:center;
font-size:18px;
cursor:pointer;
color:#b86cff;
border:1px solid rgba(184,108,255,.25);
box-shadow:0 0 8px rgba(184,108,255,.12);
transition:.2s;
}

.nav-btn:hover{
transform:translateY(-2px);
border-color:#b86cff;
}

.nav-btn.active{
color:#fff;
border-color:#b86cff;
box-shadow:
0 0 12px #b86cff,
0 0 24px rgba(184,108,255,.4);
}

.profile-box{
margin-top:auto;
padding-bottom:12px;
}

.avatar{
width:42px;
height:42px;
border-radius:50%;
background:linear-gradient(135deg,#ff00ff,#7b2cff);
display:flex;
justify-content:center;
align-items:center;
font-weight:700;
}

.content{
flex:1;
padding:24px;
overflow:auto;
}

.page-title{
font-size:34px;
font-weight:800;
margin-bottom:20px;
}

.input{
width:100%;
max-width:420px;
padding:16px;
border:none;
outline:none;
border-radius:16px;
background:#101010;
color:white;
font-size:16px;
margin-bottom:14px;
}

.create-btn{
width:100%;
max-width:420px;
padding:16px;
border:none;
border-radius:16px;
cursor:pointer;
color:white;
font-size:18px;
font-weight:700;
background:linear-gradient(
135deg,
#8d3cff,
#5865f2
);
}

.track{
margin-top:15px;
background:#101010;
border:1px solid #1c1c1c;
border-radius:16px;
padding:16px;
}

.track-title{
font-weight:700;
margin-bottom:4px;
}

.track-artist{
color:#999;
}

.logo{
font-size:54px;
font-weight:800;
text-align:center;
margin-bottom:25px;
background:linear-gradient(
135deg,
#ff00ff,
#7b2cff
);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.setup-card{
background:#111;
border:1px solid #222;
border-radius:24px;
padding:25px;
}

.profile-setup{
max-width:500px;
margin:60px auto;
padding:20px;
}

#message{
margin-top:15px;
text-align:center;
color:#999;
}